<!--
{{label}}, {{maxlength}}, {{expressionType}} are defined by contoller on scope
{{key}}, invalid are not defined on scope
visible, label, isExpressionDefinition, isLocked(), displayValue, readOnly, change(), value
are properties and functions, defined on $scope
-->
<div class="pp-component pp-string-component" ng-if="visible" tcl="string">
    <div class="label" ng-if="label" title="{{label}}">{{label}}</div>
    <div class="value">
        <div ng-class="{ 'lui-input-group': isExpressionDefinition }">
            <!-- The ng-model directive binds the value of HTML controls (input, select, textarea) to the $scope property -->
            <input type="password" maxlength="{{maxlength}}" class="lui-input"
                ng-class="{'lui-invalid': invalid, 'lui-input-group__item': isExpressionDefinition,'lui-input-group__input': isExpressionDefinition, 'is-expression': isLocked()}"
                ng-model="displayValue" pp-placeholder="placeholder" ng-model-options="{ updateOn: 'blur', allowInvalid: true }"
                qva-model-onkeyup pp-input-validator ng-readonly="isLocked()" ng-disabled="readOnly" ng-change="change()"
                pp-expression-editor="value" editor-disabled="!isLocked()" expression-type="{{expressionType}}" tid="{{key}}" />
            <button class="lui-input-group__item  lui-input-group__button  lui-button" ng-show="isExpressionDefinition && !readOnly"
                tpp-expression-editor="value" expression-type="{{expressionType}}" q-title-translation="Tooltip.OpenExpressionEditor">
                <span class="lui-button__icon  lui-icon  lui-icon--expression edit-expression" ng-class="{'active': isExpression()}"></span>
            </button>
        </div>
    </div>
    <div ng-if="isLocked()" class="hint" q-translation="properties.editInExpressionEditor"></div>
</div>